/* css styles */

div.quarto-post {
    border-bottom: none; /* Removes the line between posts */
    gap: 0; /* Removes gap between date and title */
    margin-left: 1rem; /* Aligns left edge to look nicer */
}

#about-header {
    text-align: center;
    align-items: center;
    padding-bottom: 3rem;
}

#about-image img {
    width: 80px;
    border-radius: 50%;
}

.navbar-logo {
    border-radius: 50%;
}

div.quarto-post .metadata {
    flex-basis: 20%;
}

.post-thumbnail {
    text-align: center;
}

.post-thumbnail img {
    border-radius: 50px; /* Adds soft, rounded corners */
    object-fit: cover; /* Ensures the image scales properly */
}

.acknowledgements {
    font-size: small;
    font-style: italic;
}
