/* css styles */

/* Removes the line between posts */
div.quarto-post {
    border-bottom: none;
}

#about-header {
    text-align: center;
    align-items: center;
    padding-bottom: 3rem;
}

#about-image img {
    width: 80px;
    border-radius: 50%;
}

.navbar-logo {
    border-radius: 50%;
}

div.quarto-post .metadata {
    flex-basis: 20%;
}

div.quarto-post .body {
    flex-basis: 60%;
}

div.quarto-post .thumbnail {
    flex-basis: 20%;
}
div.quarto-post .thumbnail img {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    margin-top: 0;
}

div.thumbnail p {
    margin-bottom: 0;
    text-align: center;
}

.post-thumbnail {
    text-align: center;
    aspect-ratio: 16/9
}

.post-thumbnail img {
    border-radius: 50%;
    max-width: 50%;
}

.acknowledgements {
    font-size: small;
    font-style: italic;
}
